<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register | CyberShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="page auth">
    <h1>CyberShield</h1>
    <h2>Create User Account</h2>
    {% if error %}<p class="center attack">{{ error }}</p>{% endif %}
    <form method="POST">
        <div class="input-box"><label>Username</label><input name="username" required></div>
        <div class="input-box"><label>Email</label><input type="email" name="email" required></div>
        <div class="input-box"><label>Password</label><input type="password" name="password" required></div>
        <div class="actions"><button>Register</button><a class="btn" href="{{ url_for('login') }}">Back to Login</a></div>
    </form>
</div>
</body>
</html>
